//medias
$--media-md: 767px;
$--container-width:1366px;


//color
$--primary-color: #fa4616;
$--orange-22:#f58022;
$--white: #fff;
$--black: #000;
$--black-33: #333;
$--gray-1: #f5f5fb;
$--gray-2: #9698b4