a:not(.btn-primary),
.accordion-button:not(.collapsed),
.primary-color{
    color: #f47920 !important;
}
.btn-primary,
.toast,
.form-check-input:checked{
    background-color: #f47920 !important;
    border-color: #f47920 !important;
}
.accordion-button{
    background-color: #f478203a !important;
}
body{
    background-color: #eee;
}
.no-icon.accordion-button::after{
    display: none;
}

.h-100-vh{
    height: 100vh;
}

.input-group-append {
    cursor: pointer;
}

.collapse-02 .card {
    width: 100%;
}

.collapse-02 .card .card-description{
    margin: 0;
    font-size: 0.8rem;
}

.step-02-comunicacao-protocolo-sinistro,
.step-03-comunicacao-protocolo-sinistro{
    display: none;
}

.step-02-comunicacao-protocolo-sinistro.active,
.step-03-comunicacao-protocolo-sinistro.active{
    display: block;
}

.grid-select-insurance{
    border: 0px solid #000;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    max-width: 550px;
    margin: auto;
    gap: 10px;
}

.grid-cards-add{
    border: 0px solid #000;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

.grid-select-insurance .card{
    width: 100px;
    cursor: pointer;
    transition: ease-in 0.3s;
}

.grid-select-insurance .card:hover,
.grid-select-insurance .card.active{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.grid-select-insurance .card.active{
    border-color: #86b7fe;
}

.grid-select-insurance .card-title{
    font-size: 12px;
    text-align: center;
}

.grid-select-insurance .card .card-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.grid-select-insurance .card i{
    font-size: 30px;
}

.grid-cards-add .card{
    width: 100%;
    
}
.grid-cards-add .card .card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.fs-7{
    font-size: 0.8rem;
    width: 100%;
}

.form-check-input-disabled{
    pointer-events: none;
}

.contencioso-check,
.boletim-check{
    border: 1px solid #eee;
    padding: 20px;
    border-radius: 10px;
    margin: 0 10px;
    display: none;
}
.contencioso-check.active,
.boletim-check.active{
    display: block;
}

.carousel-item .card-body{
    align-items: center;
    display: flex;
    flex-direction: column;
}
 
.passo-6-selecionada{
    display: none;
}
.passo-6-selecionada.active{
    display: block;
}

.protocolo{
    background-color: #f47920;
    padding: 10px 5px;
    border-radius: 3px;
}

@media(min-width:768px){
    .container-steps .col-lg-1{
        width: 10% !important;
    }
    
}


.container-steps .link{
    text-decoration: none;
    pointer-events: none;
    margin-right: 10px;
}
.container-steps .link.active{
    pointer-events: initial;
}
.container-steps .card{
    transition: ease-in 0.3s;
    opacity: 0.4;
    pointer-events: none;
    cursor: none;
    width: 100px;
    height: 120px;
}
.container-steps .card.active{
    pointer-events: initial;
    cursor: pointer;
    opacity: 1;
}
.container-steps .card:hover,
.container-steps .card.active{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.container-steps .card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
}

.container-steps .card-body .card-description,
.container-steps .card-body .card-title{
    text-align: center;
}

.container-steps .card-body .card-title{
    font-size: 12px;
    background-color: #183153;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 18px;
    margin: 0;
    color: #fff;
}

.container-steps .card-body .card-description{
    font-size: 11px;
}
.container-controls .btn{
    width: 150px;
}

.carousel{
    background-color: #f478203a !important;
}

.carousel .card{
    width: 250px;
}

.passo6-mobile{
    display: none;
}


@media(max-width:768px){
    .container{
        padding: 0;
    }
    .accordion-button{
        justify-content: center;
        text-align: center;
    }
    .collapse-02 .card {
        width: 100%;
    }

    .grid-select-insurance{
        grid-template-columns: repeat(5,1fr);
        width: 100%;
        gap: 5px;
        overflow: scroll;
    }

    .grid-cards-add{
        grid-template-columns: repeat(1,1fr);
    }

    .grid-select-insurance .card i{
        font-size: 20px;
    }

    .grid-select-insurance .card{
        width: 80px;
    }
    .grid-select-insurance .card-title{
        font-size: 10px;
    }

    .breadcrumb-item{
        font-size: 12px;
    }

    .form-control-file{
        font-size: 8px;
    }

    .container-steps .card{
        width: 100%;
    }

    .protocolo-title{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .passo6-slide{
        display: none;
    }

    .passo6-mobile{
        display: block;
    }

    .passo6-mobile .card-body{
        text-align: center;
    }

    .passo6-mobile .form-check {
        display: flex;
        justify-content: center;
    }
}

@media(min-width:769px) and (max-width:1024px){
    .grid-cards-add{
        grid-template-columns: repeat(3,1fr);
    }
}