body{
    background-color: #eee;
}
.no-icon .accordion-button::after{
    display: none;
}

.h-100-vh{
    height: 100vh;
}

.input-group-append {
    cursor: pointer;
}

.collapse-02 .card {
    width: 300px;
}

.collapse-02 .card .card-description{
    margin: 0;
    font-size: 0.8rem;
}

.step-02-comunicacao-protocolo-sinistro,
.step-03-comunicacao-protocolo-sinistro{
    display: none;
}

.step-02-comunicacao-protocolo-sinistro.active,
.step-03-comunicacao-protocolo-sinistro.active{
    display: block;
}

.grid-select-insurance{
    border: 0px solid #000;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    max-width: 550px;
    margin: auto;
    gap: 10px;
}

.grid-passo-02-cards{
    border: 0px solid #000;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
}

.grid-select-insurance .card{
    width: 100px;
    cursor: pointer;
    transition: ease-in 0.3s;
}

.grid-select-insurance .card:hover,
.grid-select-insurance .card.active{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.grid-select-insurance .card.active{
    border-color: #86b7fe;
}

.grid-select-insurance .card-title{
    font-size: 12px;
    text-align: center;
}

.grid-select-insurance .card .card-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.grid-select-insurance .card i{
    font-size: 30px;
}

.grid-passo-02-cards .card{
    width: 100%;
    
}
.grid-passo-02-cards .card .card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fs-7{
    font-size: 0.8rem;
}


@media(max-width:768px){
    .container{
        padding: 0;
    }
    .accordion-button{
        justify-content: center;
        text-align: center;
    }
    .collapse-02 .card {
        width: 100%;
    }

    .grid-select-insurance{
        grid-template-columns: repeat(5,1fr);
        width: 100%;
        gap: 5px;
        overflow: scroll;
    }

    .grid-passo-02-cards{
        grid-template-columns: repeat(2,1fr);
    }

    .grid-select-insurance .card i{
        font-size: 20px;
    }

    .grid-select-insurance .card{
        width: 80px;
    }
    .grid-select-insurance .card-title{
        font-size: 10px;
    }

    .breadcrumb-item{
        font-size: 12px;
    }
}