@import '../../root/variables';

.bumblebee__login{

    form{
        max-width: 400px;
        padding: 0 24px;

        @media(max-width: $--media-md){
            max-width: 100%;
            padding: 0;
        }
    }
   
}